<div class="container">
  <div id="manage-bookmarks">
    <div class="bookmarks-header">
      <h3>{{ 'Bookmarks'|t }}</h3>
      <div>
        <span class="bookmark-link"><a id="add-folder" class="use-ajax" data-dialog-type="modal" href="{{ path('nnphi_bookmark.create_folder', {'js': 'nojs'}) }}">{{ '{{ addLinkText }}' }}</a></span>
      </div>
    </div>
    {{ bookmarks }}
  </div>
  <div id="manage-folders">
    <div class="bookmarks-header">
      <h3>{{ 'Folders'|t }}</h3>
      <span v-if="checkedFolders.length > 1" class="combine-folders bookmark-link"><a v-on:click="launchDialog()" href="#">{{ 'Combine Folders' | t }}</a></span>
    </div>
    <div id="folder-ui">
      {{ folders }}
    </div>
  </div>
</div>
