<a href="{{ path('nnphi_user.social_login', {'service': 'facebook'}, options) }}">{{ 'Facebook'|t }}</a>
<a href="{{ path('nnphi_user.social_login', {'service': 'linkedin'}, options) }}">{{ 'LinkedIn'|t }}</a>
<a href="{{ path('nnphi_user.social_login', {'service': 'google'}, options) }}">{{ 'Google'|t }}</a>