{# The mustache template used to render a search result item #}
<script type="text/template" id="training-hit">
  {% raw %}
  <article class="training-node-teaser" role="article">
    <div class="training-node-teaser-top">
      <div class="training-node-teaser-top-left">
        {{ headline }}
      </div>
      <div class="training-node-teaser-top-right">
        {{ training_source }}
        {{ date }}
      </div>
    </div>
    <h3>{{{  _highlightResult.title.value }}}</h3>
    {% endraw %}
    {% raw %}
    {{{  _highlightResult.summary.value }}}
    {% endraw %}
    <div class="training-teaser-link-wrapper">
      <a data-nid="{{ '{{ nid }}' }}" href="#" class="training-preview-link">{{ 'Preview'|t }}</a>
      <a href="{{ '{{ url }}' }}" class="training-teaser-link">{{ 'View Training'|t }}</a>
    </div>
  </article>
</script>

<div class="training-search-container">
  <div class="row">
    <div class="training-filters">
      <h2>{{ 'Refine By'|t }}</h2>
      <div id="content-type"></div>
      <div id="ceus"></div>
      <div id="course-types"></div>
      <div id="levels"></div>
      <div id="locations"></div>
      <div id="competency"></div>
      <div id="rating"></div>
      <div id="occupation"></div>
      <div id="job-tasks"></div>
      <div id="reset"></div>
    </div>
    <div class="training-results">
      <div id="search-box"></div>
      <div id="stats"></div>
      <div id="hits">{{ 'Enter search terms to get started.'|t }}</div>
      <div id="pagination"></div>
    </div>
  </div>
</div>
