<div class="dashboard">
    <div class="banner container-fluid">
      {{ content.banner }}
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-5">
              {{ content.left_column_first }}
            </div>
            <div class="col-md-7">
              {{ content.right_column_first }}
            </div>
        </div>
    </div>
    <div class="row">
      {{ content.main }}
    </div>
    <div class="row">
        {{ content.main_container }}
    </div>
</div>
