{#
/**
 * @file
 * Theme override to display a single Drupal page while offline.
 *
 * All available variables are mirrored in page.html.twig.
 * Some may be blank but they are provided for consistency.
 *
 * @see template_preprocess_maintenance_page()
 */
#}

<div class="layout-content maintenance-page-content">
  <div class="maintenance-page-text">
    <div class="maintenance-page-interior">
      <header role="banner">
        {% include (base_path ~ directory ~ '/templates/components/logo.html.twig') %}
      </header>
      <main role="main">
        <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}
        <div class="maintenance-page-summary">

          {# Set in nnphi_general.module. Displays status messages so that form confirmation message displays #}
          {{ messages }}

          <p>{% trans %}The Public Health Learning Navigator is coming soon!{% endtrans %}</p>
          <p>{% trans %}Come back to find a curated selection of eLearning opportunities that have been reviewed for content, user experience, and relevance.{% endtrans %}</p>
        </div>

        <p class="maintenance-page-subtitle">{{ 'Coming May 2018'|t }}</p>

        {# Set in nnphi_general.module. Renders contact form #}
        {{ splash_form }}

      </main>
    </div>
    <footer class="maintenance-page-footer">
      <a href="https://nnphi.org/phln/">
        <img src="{{ base_path ~ directory ~ '/images/phln-logo.png' }}" alt="{{ 'Public Health Learning Network Logo'|t }}" />
      </a>
      <a href="https://nnphi.org/">
        <img src="{{ base_path ~ directory ~ '/images/nnphi-logo.svg' }}" alt="{{ 'National Network of Public Health Institutes Logo'|t }}" />
      </a>
    </footer>
  </div>
</div>