<article{{ attributes.addClass('training-node-mini') }}>
  <div{{ content_attributes }}>
    <div class="training-node-teaser-top">
      {# DIVs for flexbox grouping #}
      <div class="training-node-teaser-top-left">
        {{ content.field_training_level }}
        {{ content.field_training_proficiency }}
        {{ content.field_training_ceus_offered }}
        {{ content.field_training_cost }}
      </div>
      {{ content.field_training_review_overall }}
    </div>
    <h5><a href="{{ url }}">{{ label }}</a></h5>
  </div>
</article>